#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

ifeq (${DEB_HOST_ARCH_BITS},64)
	CCL_ARCH_SUFFIX=64
else
	CCL_ARCH_SUFFIX=
endif

%:
	dh $*

override_dh_auto_configure:
	mkdir build
	tar -C build --strip-components=1 -xf ccl-*.tar.gz 
	dh_auto_configure

override_dh_auto_build:
	cd build && ./lx86cl${CCL_ARCH_SUFFIX} -l ../build-ccl.lisp
	mv build/ccl-deb${CCL_ARCH_SUFFIX} lx86cl${CCL_ARCH_SUFFIX}.image
	mv build/lx86cl${CCL_ARCH_SUFFIX} lx86cl${CCL_ARCH_SUFFIX}
	cd build/doc/src && make -f Makefile.debian CCL=../../lx86cl${CCL_ARCH_SUFFIX} \
		-I ../../../lx86cl${CCL_ARCH_SUFFIX}.image

override_dh_clean:
	rm -rf build lx86cl*.image
	dh_clean
